@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("../img/cup-small.png");
  
    min-height: 70vh;
  
    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    margin: 0;
    background-color: #fff;
    height: 12%;
    cursor: pointer;
}

.logo-spinr {
    position: absolute;
    cursor: pointer;
    margin: 0 1px 0 0;
    height: 35px;
    width: 35px;
    right: 0;
    background-color: #3C1361;

    transition: transform .3s;
}

.logo-spinr:hover {
    background-color: #8965a9;
    transform: translateY(-.1em);
}

#menu-spinner-on:hover {
    background-color: #8965a9;
    transform: translateY(-.05em);
}
  
  /* Position the navbar container inside the image */

.topdiv {
    height: 70vh;
    width: 100%;
    background-color: rgba(137, 101, 169, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 50%;
}

/* The navbar */
.topnav {
    position: absolute;
    right: 31px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 25vw;

    background-color: #3C1361;
}

.topnav ul {
    list-style: none;
}

.topnav ul li {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.topnav ul li a {
    text-decoration: none;
    color: #fff;
    padding: .2em;
    font-size: 1em;
    display: block;
    text-transform: uppercase;
}

.expertise-sub {
    display: none;
} 

.top-nav-ul li ul.industries-sub, .top-nav-ul li ul.expertise-sub {
    width: 170%;
    margin: .1em 0;
    position: absolute;
    z-index: 999;
    display: none;
    background-color: rgba(91, 21, 152, 0.85);
}

.top-nav-ul li ul.industries-sub li, .top-nav-ul li ul.expertise-sub li  {
    display: block;
}

.top-nav-ul li:hover ul.industries-sub, .top-nav-ul li:hover ul.expertise-sub {
    display: block;
}

.top-nav-ul li:hover ul.industries-sub a, .top-nav-ul li:hover ul.expertise-sub a {
    font-size: 1em;
    margin: .1em 0;
    padding: 0.1em .3em;
}

.active, .topnav ul li:hover {
    background: #8965a9;
    border-radius: 1px;
}

.header {
    background: rgba(0, 0, 0, .2);
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: greenyellow;
    grid-template-rows: 
        "services"
        "org-ethos"
        "the-team"
        "ceo";
    width: 100vw;
}

.services {
    grid-area: services;
    min-height: 30vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.services .left h5 {
    padding: 1em .5em;
}

.services .left p {
    padding: 1em .5em;
    line-height: 1.2em;
}

.services .rt {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        ". a b ."
        ". c d .";
    gap: 0;
    justify-content: center;
    align-items: center;
}

.ctr-box > h3 {
    color: #F7AD75;
    font-size: 2em;
}

.ctr-box > p {
    font-size: .5em;
}

#bx-1 {
    grid-area: a;
}

#bx-2 {
    grid-area: b;
}

#bx-3 {
    grid-area: c;
}

#bx-4 {
    grid-area: d;
}

.org-ethos {
    min-height: 50vh;
    grid-area: org-ethos;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: .5em;
}

.core-vals {
    background: url(../img/balcony.png) no-repeat center;
}

.our-mission {
    background: url(../img/radiator.png) no-repeat center;
}

.our-vision {
    background: url(../img/our-vision-img.png) no-repeat center;
}

.core-vals-cover, .mission-cover, .vision-cover {
    background-color: rgba(152, 95, 201, .50);
    height: 100%;
}

.the-team {
    grid-area: the-team;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.team-members {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member {
    height: 70%;
    margin: .1em;
}

#team-1 {
    grid-column: a;
}
#team-2 {
    grid-column: b;
}
#team-3 {
    grid-column: c;
}
#team-4 {
    grid-column: d;
}

.the-team h2 {
    padding: 1em .5em;
    font-size: 1.5em;
}

.prof-img {
    height: 100%;
}

.ceo {
    grid-area: ceo;
    min-height: 30vh;
    background-color: #F96D0B;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.ceo-desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
}

.ceo-desc p {
    line-height: 1.2em;
    padding: 1.5em 0;
}

.footer {
    height: 35vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
    background-color: #3C1361;
}

.footer .ftr-lft .logo {
    position: relative;
    height: 2em;
    margin: .5em .2em;
}

.footer .ftr-lft p {
    color: #fff;
}

.box {
    margin: 1em .5em;
    display: inline-block;
}
  
  .box a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
  }
  
  .box a {
    color: #F7AD75;
  }

  .ftr-rt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
  }

  .npdv, .faq, .sub {
    margin: .2em 0;
}
