@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@300&family=Roboto&display=swap');

* {
    font-size: 16px;
    font-family:'Playfair Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

.bg-img {
    /* The image used */
    background-image: url("../img/cup-small.png");
  
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    margin: 0;
    background-color: #fff;
    cursor: pointer;
}

.logo-spinr {
    position: absolute;
    cursor: pointer;
    right: 0;
    z-index: 1000;
    background-color: #3C1361;

    transition: transform .3s;
}

.logo-spinr:hover {
    background-color: #8965a9;
    transform: translateY(-.1em);
}



#menu-spinner-on:hover {
    background-color: #8965a9;
    transform: translateY(-.05em);
}

#menu-spinner-on {
    display: none;
}
  
  /* Position the navbar container inside the image */

.topdiv {
    height: 70vh;
    width: 100%;
    background-color: rgba(137, 101, 169, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 80%;
}

/* The navbar */
.topnav {
    display: none;
    position: absolute;
    right: 31px;
    height: 43px;
    justify-content: space-around;
    align-items: center;
    min-width: 35vw;

    background-color: #3C1361;
}

.topnav ul {
    list-style: none;
}

.topnav ul li {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.topnav ul li a {
    text-decoration: none;
    color: #fff;
    padding: .2em;
    font-size: 1em;
    display: block;
    text-transform: uppercase;
}

.expertise-sub {
    display: none;
} 

.top-nav-ul li ul.industries-sub, .top-nav-ul li ul.expertise-sub {
    width: 170%;
    margin: .1em 0;
    position: absolute;
    z-index: 999;
    display: none;
    background-color: rgba(91, 21, 152, 0.85);
}

.top-nav-ul li ul.industries-sub li, .top-nav-ul li ul.expertise-sub li  {
    display: block;
}

.top-nav-ul li:hover ul.industries-sub, .top-nav-ul li:hover ul.expertise-sub {
    display: block;
}

.top-nav-ul li:hover ul.industries-sub a, .top-nav-ul li:hover ul.expertise-sub a {
    font-size: 1em;
    margin: .1em 0;
    padding: 0.1em .3em;
}

.active, .topnav ul li:hover {
    background: #8965a9;
    border-radius: 1px;
}

.header {
    background: rgba(0, 0, 0, .2);
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    background-color: greenyellow;
    grid-template-rows: 
        "services"
        "org-ethos"
        "the-team"
        "ceo";
    width: 100vw;
}

.about-intro {
    grid-area: services;
    min-height: 30vh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 2em 4.5em;
}

.about-intro .left h5 {
    padding: 1em .5em;
}

.about-intro .about-intro-left p {
    padding: 1em .5em;
    line-height: 1.2em;
}

.about-intro .about-intro-right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        ". a b ."
        ". c d .";
    gap: 0;
    justify-content: center;
    align-items: center;
}

.sub-title-desc {
    padding: 1em 0;
    font-size: larger;
    color: #3C1361;
}

.sub-title-text {
    padding: 1.5em 0;
    font-size: smaller;
    color: #3C1361;
}

.ctr-box > h3 {
    color: #FD6A03;
    font-size: 5em;
}

.ctr-box > p {
    font-size: .5em;
}

#bx-1 {
    grid-area: a;
}

#bx-2 {
    grid-area: b;
}

#bx-3 {
    grid-area: c;
}

#bx-4 {
    grid-area: d;
}

.org-ethos {
    min-height: 50vh;
    grid-area: org-ethos;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: .5em;
}

.core-vals {
    background: url(../img/balcony.png) no-repeat center center;
}

.our-mission {
    background: url(../img/radiator.png) no-repeat center center;
}

.our-vision {
    background: url(../img/our-vision-img.png) no-repeat center center;
}

.core-vals-cover, .mission-cover, .vision-cover {
    background-color: rgba(152, 95, 201, .60);
    height: 100%;
    color: #fff;
    padding: 1em 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ethos-header {
    color: #fff;
    font-size: larger;
}

.the-team {
    grid-area: the-team;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.team-members {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-member {
    height: 70%;
    margin: .1em;
}

#team-1 {
    grid-column: a;
}
#team-2 {
    grid-column: b;
}
#team-3 {
    grid-column: c;
}
#team-4 {
    grid-column: d;
}

.the-team h2 {
    padding: 1em .5em;
    font-size: 1.5em;
}

.prof-img {
    height: 100%;
}

.arrow {
    margin: 0 1em;
    cursor: pointer;
}

.arrow-link {
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: #fff;
}

.ceo {
    grid-area: ceo;
    min-height: 50vh;
    background-color: #F96D0B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em 4em;
}

.ceo-desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #fff;
}

.ceo-desc p {
    line-height: 1.2em;
    padding: 1.5em 0;
}

.footer {
    height: 35vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #fff;
    background-color: #3C1361;
}

.footer-logo {
    background-color: #fff;
    margin-bottom: .5em;
}

.footer .ftr-lft p {
    color: #fff;
    font-family: 'Raleway';
}

.footer-link {
    font-family: 'Raleway';
}

.npdv a p, .faq a p {
    padding: .2em 0;
}

.header-text {
    font-size: larger;
    font-family: 'Raleway';
}

.box {
    margin: 1em .5em;
    display: inline-block;
}
  
.box a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
  
.box a {
    color: #F7AD75;
}

.ftr-lft {
    margin: 1em 2em;
}
.ftr-rt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
    padding: 1em 1.5em;
}

.npdv a p, .faq a p {
    padding: .2em 0;
}

.header-text {
    font-size: larger;
}

.npdv, .faq, .sub {
    margin: .2em 0;
}

.socials {
    display: none;
}

/* Media query */

@media (max-width: 685px) {
    .topnav {
        display: none;
        flex-direction: column;
        right: .1%;
        top: 0px;
        width: 150px;
        height: 29vh;
        justify-content: flex-start;
        transition: all .3s ease;
    }

    .top-nav-ul li a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
    }

    .active, .topnav ul li:hover {
        background: #8965a9;
        border-radius: 1px;
    }

    .services {
        min-height: 100vh;
    }

    .serv-innr {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 1fr;
        background-color: rgba(255, 255, 255, .85);
        height: 100%;
        padding-left: .5em;
    }

    .blog {
        grid-template-columns: 1fr;
        height: 70vh;
    }

    .profile {
        height: 100%;
    }

    #prof-2, #prof-3 {
        display: none;
    }

    .newsletter {
        flex-direction: column;
        min-height: 15vh;
    }

    .contact {
        display: flex;
        flex-direction: column-reverse;
        height: 60vh;
        background-color: #fff;
        padding-left: .5em;
    }

    .contact-rt {
        border-bottom: #FD6A03 1px solid;
    }

    .name-grp {
        margin-right: .2em;
    }

    /* footer */
    .footer {
        min-height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ftr-lft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ftr-rt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-text {
        font-size: 2em;
    }

    .socials-main {
        display: none;
    }

    .socials {
        display: block;
    }

    .footer-logo {
        height: 70px;
    }
}
