@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* animations */
@keyframes menuslide {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

.topnav {
    animation: menuslide .3s ease-in-out 0s 1 normal normal;
}
/* end animations */

* {
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("../img/h3-img-6.jpg");
  
    min-height: 70vh;
  
    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    margin: 0;
    background-color: #fff;
    height: 12%;
    cursor: pointer;
}

.logo-spinr {
    float: right;
    position: absolute;
    cursor: pointer;
    margin: 0 1px 0 0;
    height: 30px;
    width: 30px;
    right: 0;
    background-color: #3C1361;

    transition: transform .3s;
}

.logo-spinr:hover {
    background-color: #8965a9;
    transform: translateY(-.1em);
}
  
  /* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 0 ;
    right: 31px;
    width: auto;
}

/* The navbar */
.topnav {
    display: none;
    justify-items: right;
    align-items: center;
    overflow: hidden;
    padding: 0 5px;
    margin: 0;
    background-color: #3C1361;
}

/* Navbar links */
.topnav a {
    color: #f2f2f2;
    text-align: right;
    padding: 1px;
    margin: .2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.topnav a:hover {
    background-color: #8965a9;
    
}

.topnav a:active {
    background-color: rgb(152, 95, 201);
    color: red;
}

.header {
    background: rgba(0, 0, 0, .2);
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 
        "services"
        "blog"
        "newsletter"
        "contact"
        "footer";
}

.services {
    grid-area: services;
    height: 50vh;
    width: 100vw;
    background: url(../img/h3-img-2.jpg) no-repeat center center fixed;
}

.service {
    color: #F7AD75;
    margin: .1rem 0;
}

.left > p, .rt > p {
    font-size: 1rem;
    color: #3C1361;
    padding: .5em 1em;
}

.serv-innr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 255, 255, .85);
    height: 100%;
    padding-left: .5em;
}

/* blog section */

.blog {
    grid-area: blog;
    min-height: auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    background-color: #FD6A03;
    /* background-image: linear-gradient(to right, #FD6A03 , #F7AD75); */
    column-gap: 0;
    padding: 0;
    margin: 0;
}

.profile {
    height: 100%;
    padding: 0;
    margin: 0;
}

#prof-2 {
    background-color: #eee;
}

.desc > h5, p {
    padding: .2em .5rem;
}

.picture {
    margin: 0;
    width: 100%;
    height: 50%;
}

.prof-img {
    height: 100%;
    width: 100%;
}
/* end blog section */

.newsletter {
    grid-area: newsletter;
    height: 10vh;
    color: #3C1361;
    background-color: #D8D0DF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter .newsletter-txt {
    margin: auto 0 0 10%;
}

.usr-txt-field {
    margin: 10px 0;
    padding: 0 2px; 
    border: 0;
    border-bottom: #3C1361 1px solid;
    background-color: #D8D0DF;
}

.usr-txt-field:focus {
    outline: none;
}

/* Contact section */
.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50vh;
    background-color: #fff;
    padding-left: .5em;
}

.contact .contact-left {
    border-right: #eee .5px solid;
}

.contact .usr-txt-field { 
    background-color: #fff;
}

textarea {
    border: 0;
    border-bottom: #3C1361 1px solid;
    background-color: #fff;
}

textarea:focus {
    outline: none;
}

.form-grp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Footer section */
.footer {
    height: 35vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #fff;
    background-color: #3C1361;
}

.footer .logo {
    position: relative;
    height: 2em;
    margin: .5em .2em;
}

.box {
    margin: 1em .5em;
    display: inline-block;
}
  
.box a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
  
  .box a {
    color: #F7AD75;
  }

  .ftr-rt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
