@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
}

.bg-img {
    /* The image used */
    background-image: url("../img/meeting-25-percent.png");
  
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.logo {
    position: absolute;
    left: 0;
    margin: 0;
    background-color: #fff;
    cursor: pointer;
}

.logo-spinr {
    position: absolute;
    cursor: pointer;
    right: 0;
    z-index: 1000;
    background-color: #3C1361;

    transition: transform .3s;
}

.logo-spinr:hover {
    background-color: #8965a9;
    transform: translateY(-.1em);
}



#menu-spinner-on:hover {
    background-color: #8965a9;
    transform: translateY(-.05em);
}

#menu-spinner-on {
    display: none;
}
  
  /* Position the navbar container inside the image */

.topdiv {
    height: 70vh;
    width: 100%;
    background-color: rgba(137, 101, 169, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 80%;
}

/* The navbar */
.topnav {
    display: none;
    position: absolute;
    right: 31px;
    height: 43px;
    justify-content: space-around;
    align-items: center;
    min-width: 35vw;

    background-color: #3C1361;
}

.topnav ul {
    list-style: none;
}

.topnav ul li {
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.topnav ul li a {
    text-decoration: none;
    color: #fff;
    padding: .2em;
    font-size: 1em;
    display: block;
    text-transform: uppercase;
}

.expertise-sub {
    display: none;
} 

.top-nav-ul li ul.industries-sub, .top-nav-ul li ul.expertise-sub {
    width: 170%;
    margin: .1em 0;
    position: absolute;
    z-index: 999;
    display: none;
    background-color: rgba(91, 21, 152, 0.85);
}

.top-nav-ul li ul.industries-sub li, .top-nav-ul li ul.expertise-sub li  {
    display: block;
}

.top-nav-ul li:hover ul.industries-sub, .top-nav-ul li:hover ul.expertise-sub {
    display: block;
}

.top-nav-ul li:hover ul.industries-sub a, .top-nav-ul li:hover ul.expertise-sub a {
    font-size: 1em;
    margin: .1em 0;
    padding: 0.1em .3em;
}

.active, .topnav ul li:hover {
    background: #8965a9;
    border-radius: 1px;
}

.header {
    background: rgba(0, 0, 0, .2);
}

.main {
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: 
        "feature"
        "services"
        "blog"
        "footer";
}

.feature {
    grid-row: feature;
    min-height: 20vh;
    color: #3C1361;

    padding: 2em 4em;
    width: 80vw;
}

.sub-title {
    padding: 1em 0;
    color: #3C1361;
    text-transform: uppercase;
    font-size: xx-small;
}

.sub-title-desc {
    padding: 1em 0;
    font-size: larger;
    color: #3C1361;

}

.feature-inner, p, h5 {
    padding: .2em;
    color: #3C1361;
}

.caption {
    padding: 1em .5em;
    margin: 1em 0;
    font-size: .7em;
    color: #3C1361;
}

.services {
    grid-area: services;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-item {
    height: 100%;
}

.grid-pic {
    width: 100%;
    height: 100%;
}

#grid-box-2 {
    background: url('../img/rectangle.png') no-repeat center center;
    
}

.grid-2-inner {
    background-color: rgba(253, 117, 17, .55);
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 4em;
}

.grid-3-inner {
    background-color: rgba(60, 19, 97, .9);
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1em 4em;
}

.grid-3-inner h6 a {
    color: #fff;
    text-decoration: none;
}

#grid-box-3 {
    background: url('../img/graph.png') no-repeat center center;
    background-color: #fff;
}

.grid-2-inner  a, h6 {
    color: #fff;
    padding: 0.2em .5em;
}



.arrow-link {
    height: 20px;
    width: 20px;
    cursor: pointer;
    color: #fff;
    margin-left: 1em;
}

/* blog section */

.blog {
    grid-row: blog;
    min-height: 70vh;
    background: url(../img/edu-serv-bkg.png) no-repeat center center fixed;
}

.blog-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 255, 255, .85);
    padding: 2em 4em;
}

.blog-inner-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.footer {
    height: 35vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: #fff;
    background-color: #3C1361;
}

.footer-logo {
    background-color: #fff;
    margin-bottom: .5em;
}

.footer .ftr-lft p {
    color: #fff;
}

.box {
    margin: 1em .5em;
    display: inline-block;
}
  
.box a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
  
.box a {
    color: #F7AD75;
}

.ftr-lft {
    margin: 1em 2em;
}
.ftr-rt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fff;
    padding: 1em 1.5em;
}

.header-text {
    font-size: larger;
    color: #fff;
}

.npdv, .faq, .sub {
    margin: .2em 0;
}

.socials {
    display: none;
}

/* Media query */

@media (max-width: 685px) {
    .topnav {
        display: none;
        flex-direction: column;
        right: .1%;
        top: 0px;
        width: 150px;
        height: 29vh;
        justify-content: flex-start;
        transition: all .3s ease;
    }

    .top-nav-ul li a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
    }

    .active, .topnav ul li:hover {
        background: #8965a9;
        border-radius: 1px;
    }

    .services {
        min-height: 100vh;
    }

    .serv-innr {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 1fr 1fr;
        background-color: rgba(255, 255, 255, .85);
        height: 100%;
        padding-left: .5em;
    }

    .blog {
        grid-template-columns: 1fr;
        height: 70vh;
    }

    .profile {
        height: 100%;
    }

    #prof-2, #prof-3 {
        display: none;
    }

    .newsletter {
        flex-direction: column;
        min-height: 15vh;
    }

    .contact {
        display: flex;
        flex-direction: column-reverse;
        height: 60vh;
        background-color: #fff;
        padding-left: .5em;
    }

    .contact-rt {
        border-bottom: #FD6A03 1px solid;
    }

    .name-grp {
        margin-right: .2em;
    }

    /* footer */
    .footer {
        min-height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ftr-lft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ftr-rt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-text {
        font-size: 2em;
        color: #fff;
    }

    .socials-main {
        display: none;
    }

    .socials {
        display: block;
    }

    .footer-logo {
        height: 70px;
    }
}
