@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    font-size: 16px;
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("../img/meeting-25-percent.png");
  
    min-height: 70vh;
  
    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
}

.bg-img-inner {
    height: 100%;
    background-color: rgba(255, 255, 255, .85);
}

.logo {
    position: absolute;
    left: 0;
    margin: 0;
    background-color: #fff;
    height: 12%;
    cursor: pointer;
}

.logo-spinr {
    float: right;
    position: absolute;
    cursor: pointer;
    margin: 0 1px 0 0;
    height: 30px;
    width: 30px;
    right: 0;
    background-color: #3C1361;
}

.logo-spinr:hover {
    background-color: #8965a9;
}
  
  /* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 0 ;
    right: 31px;
    width: auto;
}

/* The navbar */
.topnav {
    display: flex;
    justify-items: right;
    align-items: center;
    overflow: hidden;
    padding: 0 5px;
    margin: 0;
    background-color: #3C1361;
}

/* Navbar links */
.topnav a {
    color: #f2f2f2;
    text-align: right;
    padding: 1px;
    margin: .2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.topnav a:hover {
    background-color: #8965a9;
}

.topnav a:active {
    background-color: rgb(152, 95, 201);
    color: red;
}

.header {
    background: rgba(0, 0, 0, .2);
}

.main {
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    background-color: greenyellow;
    grid-template-rows: 
        "feature"
        "services"
        "blog"
        "footer";
    width: auto;
}

.feature {
    grid-row: feature;
    min-height: 20vh;
}

.feature-inner, p, h5 {
    padding: .2em;
    color: #3C1361;
}

.caption {
    padding: 1em .5em;
    margin: 1em 0;
    font-size: .7em;
}

.services {
    grid-area: services;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid-pic {
    width: 100%;
}

.blog {
    grid-row: blog;
    min-height: 60vh;
}

.blog-inner {
    height: 50vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}


.footer {
    grid-row: footer;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #fff;
    background-color: #3C1361;
}

.footer .ftr-lft {
    border-right: #eee .1px solid;
}

.footer .ftr-lft .logo {
    position: relative;
    height: 2em;
    margin: .5em .2em;
}

.box {
    margin: 1em .5em;
    display: inline-block;
}
  
.box a i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
  
.box a {
    color: #F7AD75;
}

.ftr-rt {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
